footer {
	text-align: center;
	background: $dominate_color; 
	padding: $sec_padding_top - 4 0;
	color: $default_color_alt ;

	ul {
		display: inline-block;
	}
	li {
		float: left;
		margin-right: $default_margin;

		&:last-child {
			margin-right: 0px;
		}
	}
	.social-wrapper {
		text-align: center;
	}
}
.single {
	footer {
		a {
			color: $default_color_alt;	
			i {
				color: $default_color_alt;	
			}
		}
	}
}